.chat {
  &-ctn {
    --at-apply: h-full w-full flex flex-col items-center justify-center;
  }

  --at-apply: h-[700px] w-[900px] bg-neutral-100 shadow grid overflow-hidden;
  grid-template-columns: max-content 1fr;

  .react-draggable {
    --at-apply: bg-white shadow rounded border-t-(2 orange solid);
    z-index: 1000;
    position: fixed;
  }

  &-toolbar {
    --at-apply: flex flex-col gap-1 p-2 bg-dark-500 text-white;
    .module-item {
      --at-apply: w-[40px] h-[40px] flex items-center justify-center text-2xl
        cursor-pointer rounded transition;
      &:hover {
        --at-apply: bg-orange-300;
      }
      &.active {
        --at-apply: bg-orange-400;
      }
    }
  }

  .chat-talk {
    --at-apply: grid grid-cols-[240px_1fr] overflow-hidden;
  }

  --header-height: 3.5rem;
  .talk-menu {
    --at-apply: bg-neutral-200 border-r-(1 solid) border-neutral-300;
    &-search {
      --at-apply: px-2 bg-neutral-100;
      height: var(--header-height);
    }

    .text-fade-1 {
      --at-apply: text-sm text-slate-600;
    }
    .text-fade-2 {
      --at-apply: text-xs text-slate-400;
    }
  }

  .talk-content {
    .header {
      --at-apply: px-4 border-b border-b-solid border-neutral-200;
      height: var(--header-height);
    }
    .content {
      --at-apply: p-4;
    }
    .footer {
      --at-apply: border-t border-t-solid border-neutral-200;
    }
  }

  .message-input {
    --at-apply: p-4;
    &-tools {
      --at-apply: text-2xl;
      > i {
        --at-apply: transition cursor-pointer;
        &:hover {
          --at-apply: text-orange;
        }
      }
    }
  }

  .message-display {
    --at-apply: flex gap-3 mb-3 items-start;
    p,
    ol {
      --at-apply: my-1;
    }
    img {
      --at-apply: max-w-[200px];
    }
    &.from {
      --at-apply: flex-row-reverse;
    }
    &-avatar {
      --at-apply: w-[50px] h-[50px] object-cover rounded;
    }
    &-content {
      --at-apply: p-2 rounded text-dark relative shadow-sm max-w-[60%];
      &.from {
        --at-apply: bg-[#89D961];
        &::after {
          content: '';
          position: absolute;
          top: 0.3rem;
          right: -0.75rem;
          border: 0.4rem solid transparent;
          border-left-color: #89d961;
        }
      }
      &.target {
        --at-apply: bg-[#fff];
        &::after {
          content: '';
          position: absolute;
          top: 0.3rem;
          left: -0.75rem;
          border: 0.4rem solid transparent;
          border-right-color: #fff;
        }
      }
    }
  }

  .message-manage {
    --at-apply: bg-neutral-100 w-[600px] h-[600px];
  }

  .avatar-info {
    --at-apply: flex items-center gap-2 p-2 cursor-default;
    &:hover {
      --at-apply: bg-neutral-300;
    }
    &.active {
      --at-apply: bg-zinc-300;
    }
    .avatar {
      --at-apply: w-[50px] h-[50px] object-cover rounded;
    }
    .info {
      --at-apply: self-stretch flex-1 flex flex-col justify-around;
    }
  }

  .edit-character {
    --at-apply: w-[300px];
    textarea {
      --at-apply: resize-none;
    }
  }
}
