html,
body,
#root {
  --at-apply: h-full p-0 m-0 overflow-auto;
}

.full-ctn {
  --at-apply: h-full overflow-hidden;
}

.all-center {
  --at-apply: flex flex-col items-center justify-center;
}

.v-center {
  --at-apply: flex items-center gap-1;
}

.col-ctn {
  --at-apply: flex flex-col;
}

.ctn-body {
  --at-apply: flex-1 overflow-hidden;
}
